.Project {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
}

.Left {
  border: 1px solid white;
}

.Right {
  border: 1px solid white;
}

.mainImageContainer {
  border: 1px solid white;
  width: 100%;
  height: 300px;
  background: rgba(255, 0, 0, 0.5);
}

.mainImage {
  width: 100%;
}

.Buttons a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 15px;
}
