.Project {
  display: flex;
  flex-direction: column;
}

.Header {
  display: none;
}
.Project h1 {
  font-size: 1.4rem;
}

.Project h3 {
  font-size: 1rem;
}

.Project p {
  line-height: 1.5;
}

.TechList {
  display: none;
}

.Left {
  /* border: 1px solid white; */
  width: 80%;
  margin: 0 auto;
  /* padding: 0 15px; */
}

.Right {
  /* border: 1px solid white; */
  margin-top: 30px;
}

.mainImageContainer {
  width: 80%;
  height: 300px;
  margin: 0 auto;
}

.mainImage {
  width: 100%;
}

.Buttons {
  margin-top: 25px;
  /* border: 1px solid white; */
}

.Buttons a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 15px;
  margin-right: 10px;
}

.GoBack {
  padding-left: -30px;
  border: 1px solid black;
  background-color: none;
  margin: 30px 0;
}

@media (min-width: 600px) {
  .Project {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-column-gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 70%;
  }

  .Left {
    width: 100%;
    padding-left: 0;
    /* border: 1px solid white; */
  }

  .Right {
    /* border: 1px solid white; */
    margin-top: 70px;
  }

  .mainImageContainer {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .Project {
    width: 80%;
  }
}
