.Project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
}

.Left {
  border: 1px solid white;
  padding-left: 30px;
}

.Right {
  border: 1px solid white;
}

.mainImageContainer {
  width: 100%;
  height: 300px;
}

.mainImage {
  width: 100%;
}

.Buttons a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 15px;
}

.GoBack {
  padding-left: -30px;
  border: 1px solid black;
  background-color: none;
}
