.Container {
  margin: 50px auto;
}

.Portfolio {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* height: 100%; */

  margin: 0 auto;
}

.SearchForm {
  text-align: center;
  width: 100%;
  display: none;
}

.SearchInput {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
}

.Clear {
  display: inline-block;
  margin-left: 5px;
}

.Header {
  text-align: center;
}
@media (min-width: 600px) {
  .Portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10% 10%;
  }
}

@media (min-width: 900px) {
  .Portfolio {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 5%;
  }
}
