.Portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 10% 10%;
  /* height: 80%; */
}

.SearchForm {
  /* background: rgba(255, 0, 0, 0.5); */
  text-align: center;
  width: 100%;
}

.SearchInput {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
}

.Clear {
  display: inline-block;
  margin-left: 5px;
}
