.PortfolioItem {
  height: 100px;
  width: 100%;
  display: flex;
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  border: 1px solid black;
}

.Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  filter: grayscale(0%);
}

.TextBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.Title {
  /* border: 1px solid red; */
  flex: 1;
  padding-left: 15px;
  font-size: 18px;
  font-weight: lighter;
  margin: auto;
}

.Buttons {
  padding-right: 10px;
}

.Buttons a {
  z-index: 3000;
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 10px;
  margin-right: 5px;
}

@media (min-width: 600px) {
  .PortfolioItem {
    height: 250px;
  }

  .TextBlock {
    /* display: block; */
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background: none;
    /* background: rgba(255, 0, 0, 0.5); */
  }

  .TextBlock:hover {
    display: block;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.7);
  }

  .Title {
    flex: none;
    padding-left: 0;
    z-index: 2000;
  }

  .Buttons {
    /* border: 1px solid red; */
    flex: none;
    width: 35%;
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    display: none;
  }

  .Buttons a {
    padding: 0;
    margin: 0;
  }

  .Image {
    height: 100%;
    object-fit: cover;
  }

  .Image:hover {
    filter: grayscale(50%);
    transition: 0.3s;
  }
}
