.PortfolioItem {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  filter: grayscale(20%);
}

.TextBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextBlock:hover {
  background: none;
  transition: 0.3s;
}

.Image:hover {
  filter: grayscale(0%);
  transition: 0.3s;
}
