.PortfolioItem {
  height: 100px;
  width: 100%;
  display: flex;
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  /* border: 1px solid black; */
  display: block;
}

.Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  filter: grayscale(0%);
}

.TextBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.Title {
  padding-left: 15px;
  font-size: 18px;
  font-weight: lighter;
  margin: auto;
}

.Icons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 10px;
}

@media (min-width: 600px) {
  .PortfolioItem {
    height: 250px;
  }

  .TextBlock {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: none;
    /* background: rgba(255, 0, 0, 0.5); */
  }

  .TextBlock:hover {
    display: flex;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.8);
  }

  .TextBlock:hover .Title {
    display: block;
    height: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    transition: 0.3s;
  }

  .Title {
    display: none;
  }

  .Icons {
    display: none;
    flex: unset;
    margin-top: 30px;
    margin-right: -10px;
  }

  .TextBlock:hover .Icons {
    display: flex;
  }

  .Image {
    height: 100%;
    object-fit: cover;
  }

  .Image:hover {
    filter: grayscale(50%);
    transition: 0.3s;
  }
}

@media (min-width: 900px) {
  .PortfolioItem {
    height: 325px;
  }
}
