.Container {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
}

.Left {
  /* border: 1px solid white; */
}

.Right {
  margin-top: 20px;
}

.Buttons {
  margin-top: 30px;
}

.Buttons a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 3px 7px;
  margin-right: 5px;
}

@media (min-width: 600px) {
  .Container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 70px;
    width: 80%;
    padding: 0;
    margin: 30px auto;
  }

  .Left {
    margin-right: 50px;
  }

  .Buttons a {
    padding: 10px 15px;
    margin-right: 10px;
    width: 200px;
  }
}
