.Home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  flex: 1;
}

.Button {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  transition: 0.3s;
}

.Button:hover {
  background: rgba(0, 0, 0, 0.5);
}
